* {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

:root {
  --moderateBlue: hsl(238, 40%, 52%);
  --softRed: hsl(358, 79%, 66%);
  --lightGrayishBlue: hsl(239, 57%, 85%);
  --paleRed: hsl(357, 100%, 86%);

  --darkBlue: hsl(212, 24%, 26%);
  --grayishBlue: hsl(211, 10%, 45%);
  --lightGray: hsl(223, 19%, 93%);
  --veryLightGray: hsl(228, 33%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--lightGray);
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50%;
  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  background-color: var(--veryLightGray);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 6px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-text {
  display: flex;
}

.username {
  color: var(--darkBlue);
  font-weight: 700;
  margin: 1rem;
}

.date {
  color: var(--grayishBlue);
}

.card-header img {
  height: 2.5rem;
  margin: 0 0.3rem;
}

.card-header-right button {
  font-weight: 700;
  margin: 0 0.5rem;
}

.btn-delete {
  color: var(--softRed);
}

.btn-reply {
  color: var(--moderateBlue);
}

button {
  border: none;
  background: inherit;
}

button:hover {
  cursor: pointer;
}

.card-header-right img {
  height: 0.8rem;
}

.card-content p {
  color: var(--grayishBlue);
  font-weight: 500;
  line-height: 25px;
}

.card-side {
  padding: 0.5rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--lightGray);
  border-radius: 10px;
}

.card-side p {
  color: var(--moderateBlue);
  font-weight: 700;
}

.header-text > .username {
  color: var(--darkBlue);
  font-weight: 700;
}

.card-group {
  display: flex;
}

.replies-bar {
  width: 0.5rem;
  margin: 1rem 2.5rem;
  background: var(--veryLightGray);
}
